body {
  font-family: 'Courgette', cursive;
  background-image: url("https://images.wallpaperscraft.com/image/laptop_room_on_the_desk_keyboard_mouse_apple_window_interior_73963_1920x1080.jpg"):


}
header .head {
  color: wheat;
  font-family: 'Courgette', cursive !important;

}
nav{
  margin:  auto;
  text-align: center;
  align-items: center;
}
nav li  {
  display: inline;
  font-size: 1.90rem;
  margin-left: 0.8rem;
  /* border:2px solid wheat;
  border-radius: 0.5rem; */

}

nav li a {
  color: #ffc9a0 !important;
  font-family: 'Courgette', cursive;
  text-align: center;
  display: contents;
}
#image{
  margin-top: 30em;
}
.container h2 {
  color: wheat;
  margin-top: 10rem
  font-family: 'Courgette', cursive;

}
 #a-propos {
   color: wheat;
   text-align: center;
   font-family: 'Courgette', cursive;

 }
 hr {
   margin: 1.0rem;
   background-color: wheat;

 }

.center img  {
   text-align: center;
   display: block;
 }
 ul {
   list-style-type: none;
 }
/* * {
     transform: rotate(180deg);
} */

div .section {
  margin-top:20em;
}

 .section .title {
  font-family: 'Courgette', cursive;
  font-size: 3rem;
  color: wheat;
 }
 .intro{
   color: wheat;
   font-family: 'Courgette', cursive;
   margin-top: 0.1rem;
 }

 .icon {
   font-size: 7rem;
   background-color: lightblue ;
   color: black;
 }
